:root {
    --background-color: rgb(40, 40, 40);
    --font-color: #eee;
    --white: rgb(238, 238, 238);
    --black: rgb(40, 40, 40);
    --secondary-color: rgb(100, 100, 100);

    --gradient-start: #4A00E0;
    --gradient-end: #8E2DE2;
    --gradient: linear-gradient(to right, var(--gradient-start), var(--gradient-end));

    --backdrop-blur: blur(50px);
}

body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: auto;
    
    overflow: hidden;
    position: relative;
    top: 0;
    height: 100%;

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    opacity: 1;
    transition: opacity 0.5s, transform 0.3s;
}
body.fade {
    color: #000;
    background-color: #000;
    opacity: 0;
}

/* UI */
.button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0);
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.button:hover {
    box-shadow: 0px 0px 0px 3px var(--font-color);
    cursor: pointer;
}
.toggle {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0);
    text-align: center;
    transition: all 0.1s ease-in-out;
}
.toggle:hover {
    cursor: pointer;
}
#close {
    position: fixed;
    right: 10px;
    top: 10px;

    margin: 0 !important;
    padding: 0;
    background: none !important;
    box-shadow: none;
    font-size: 30px;

    width: 25px;
    opacity: 0.5;
    transition: opacity 0.5s;
}
#close:hover {
    opacity: 1;
}
#close img {
    width: 100%;
}

#info {
    position: fixed;
    width: min(60%, 500px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 0 0 30px 0 rgba(0,0,0);
    backdrop-filter: var(--backdrop-blur);
    color: var(--font-color);
}
#info.light {
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: none;
}

/* Sign in/up */
#sign_buttons {
    position: fixed;
    display: flex;
    top: 10px;
    right: 10px;
}
#signin_button {
    background: var(--gradient);
}

/* Game */
canvas {
    border-radius: 100px 10px;
    box-shadow: 0 0 50px 0 rgba(0,0,0);
    transition: all 0.05s ease-in-out;
}

#menu {
    position: fixed;
    width: min(60%, 300px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 0px #000;
    backdrop-filter: var(--backdrop-blur);
}
#menu.light {
    background-color: rgba(238, 238, 238, 0.8);
    backdrop-filter: none;
}
#menu .section {
    margin: 20px 0 20px 0;
}
#menu #title {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 30px;
}
#menu #start {
    color: var(--white);
    background: var(--gradient);
}

#score {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 35px;
}
