#ui {
    transition: transform 0.3s;
}
#ui.shift_down {
    transform: translateY(100px);
}

#ui #username {
    position: fixed;
    top: 0;
    right: 8%;
    height: 50px;
    background: var(--gradient);
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
}
#ui #username:hover {
    opacity: 1;
}
#ui #username:hover > #dropdown_arrow {
    opacity: 1;
}
#ui #username p {
    display: inline-block;
    margin: 0 0 0 10px;
}
#ui #username #dropdown_arrow {
    display: inline-block;
    position: relative;
    width: 25px;
    top: 1px;
    transform: rotate(90deg);
    opacity: 0.5;
    transition: transform 0.3s, opacity 0.2s;
}
#ui #username #dropdown_arrow.down {
    transform: rotate(-90deg);
}

#ui #options {
    position: fixed;
    top: -100px;
    right: 8%;
    height: 60px;
    padding: 20px;

    display: flex;
    gap: 10px;

    background-color: var(--font-color);
    color: var(--background-color);
    border-radius: 0 0 0 20px;
}
#ui .button {
    border-radius: 0 0 0 10px;
    background-color: var(--background-color);
    color: var(--font-color);
}
#ui .button:hover {
    box-shadow: 3px 3px 10px 0px rgba(0,0,0);
    background-color: var(--font-color);
    color: var(--background-color);
}
#ui .toggle {
    border-radius: 0 0 0 10px;
    background-color: var(--background-color);
    color: var(--font-color);
}
#ui .toggle.on {
    background-color: var(--font-color);
    color: var(--background-color);
}
#ui .toggle:hover {
    background-color: var(--font-color);
    color: var(--background-color);
}
